<%- include("partials/header") -%>

<h1><%= title %></h1>
<p><%= body %></p>

<form action="/posts/<%= postId %>" method="post">
    <button class="btn btn-default btn-lg" type="submit" name="button">Delete Post</button>
</form>

<%- include("partials/footer") -%>